*{
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("../img/burger.jpg");
  background-repeat: no-repeat;
}

ul {
  background: black;
  padding: 5px;
  margin: 5px;
}

li {
  padding: 5px;
  margin: 5px;
  background: teal;
  color: white;
  list-style-type: none;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
